<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" *ngFor="let item of columns">{{item}}</th>
    </tr>
  </thead>
  <tbody>

    <ng-container *ngFor="let item of data | slice: (sheet-1) * sheetSize : sheet * sheetSize" (click)="(item.id !== edit) ? Detail(item) : (0); " style="cursor: pointer">

      <tr (click)="routeUser(item.id)">
        <!-- <th scope=" row">{{ i + 1 }}</th> -->
        <td *ngFor="let column of columns">
          <span *ngIf="column!=='action'"> {{item[column]}}</span>
          <div *ngIf="column=='action'"> <button class="btn btn-outline-warning"
              (click)="buttonEvent(item)">Sil</button>
              <button class="btn btn-outline-success"
              (click)="buttonEvent(item.id)">Guncelle</button>
            </div>
            
        </td>
        <td></td>
      </tr>
    </ng-container>
    
  </tbody>
</table>
<div class="mt-3 row justify-content-md-end">
  <ngb-pagination [(page)]="sheet" [pageSize]="sheetSize" [collectionSize]="data.length"></ngb-pagination>
</div>

