<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <ul class="navbar-nav me-auto">
    <li class="nav-item">
      <a class="nav-link active" href="#">Home
        <span class="visually-hidden">(current)</span>
      </a>
  </ul>
</nav>

  <div class="card mt-5" style="margin: auto; padding: 20px; width:500px">
    <form #registerForm="ngForm">
      <div class="form-group">
        <label for="name">Name :</label>
        <input type="text" #name  [(ngModel)]="user.name" name="name" class="form-control" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="address">User Name:</label>
        <input type="text" #address  [(ngModel)]="user.username" name="username"  class="form-control"
          placeholder="User Name">
      </div>
      <div class="form-group">
        <label for="percentage">Email :</label>
        <input type="email" #percentage  [(ngModel)]="user.email" name="email"  class="form-control"
          placeholder="Email">
      </div>

      <div class="form-group">
        <label for="percentage">address :</label>
        <input type="text" #percentage  [(ngModel)]="user.address" name="address" class="form-control"
          placeholder="address">
      </div>

      <div class="form-group">
        <label for="percentage">phone :</label>
        <input type="text" #percentage  [(ngModel)]="user.phone" name="phone"  class="form-control"
          placeholder="phone">
      </div>

      <div class="form-group">
        <label for="percentage">Website :</label>
        <input type="text" #percentage  [(ngModel)]="user.website" name="website" class="form-control"
          placeholder="website">
      </div>

      <div class="form-group">
        <label for="percentage">Company :</label>
        <input type="text" #percentage  [(ngModel)]="user.company" name="company"  class="form-control"
          placeholder="Company">
      </div>
      <div class="form-group">
        <input type="submit" value="Update" class="btn btn-primary w-100" (click)="Update()">
      </div>
    </form>
  </div>
